.count {
  margin-left: 1rem;
  min-width: 15%;
}

.mobileSearchControls {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.searchControls {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.searchBar {
  min-width: 80%;
}

.resultsPane {
  margin-top: 2rem;
  padding: 0 2rem;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.mobileResultsPane {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  overflow: auto;
}
